<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/get3/save/" method="get">
    <div>
       <label>帳號:</label>
       <input type="text" name="username" id="username" placeholder="請輸入帳號">
    </div>
    <div>
        <label for="password">密碼:</label>
        <input type="password" name="password" id="password" >
    </div>
    <div>
        <button type="submit">確定</button> 
        <button type="reset">清除 </button>
    </div>

  </form>
</body>
</html>