{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
	<title>個人小檔案</title>
	<style>
      body{
        background-color: #d1fce8;
      }
    </style>
  </head>	
  <body>
  <center><img src="{% static 'profile1.jpg' %}"></center>
    <form method="post">
      <fieldset>
        <legend>個人資訊</legend>
        姓&nbsp;&nbsp;&nbsp;&nbsp;名：
        <input type="text" name="username" size="20"><br>
        性&nbsp;&nbsp;&nbsp;&nbsp;別：
        <input type="radio" name="usersex" value="male">男
        <input type="radio" name="usersex" value="female">女<br>
        最高學歷：
        <select name="userschool">
          <option value="高中以下">高中以下
          <option value="大專院校">大專院校
          <option value="碩士">碩士</option>
          <option value="博士">博士</option>
          <option value="其它">其它</option>
        </select><br>
      </fieldset><br>      
      <fieldset>
        <legend>其它資訊</legend> 
        您喜歡下列哪些活動（可複選）？
        <input type="checkbox" name="userinterest" value="閱讀">閱讀
        <input type="checkbox" name="userinterest" value="打球">打球
        <input type="checkbox" name="userinterest" value="逛街">逛街
        <input type="checkbox" name="userinterest" value="聽音樂">聽音樂
        <input type="checkbox" name="userinterest" value="水上運動">水上運動
        <input type="checkbox" name="userinterest" value="旅行">旅行<br> 
        您對於使用臉書經營社群有何看法？<br>
        <textarea name="userthought" cols="45" rows="4"></textarea><br>  
      </fieldset><br>  
      <input type="submit" value="傳送資料">   
      <input type="reset" value="清除資料">                     
    </form>        
    </body> 
</html>