<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/post1/" method="post">
    {% csrf_token %} <!--有送出表單的話，django會檢查csrf_token是否正確，若不正確就會報錯，所以一定要加上這行-->
  
    <div>
        <label for='username'>帳號:</label>
        <input type="text" name="username" id="username">
    
    </div>
    <div>
        <label for='password'>密碼:</label>
        <input type="password" name="password" id="password" >
    </div>
    <div>
        <button type="submit">確定</button>
        <button type="reset">清除</button>
  </form>
</body>
</html>