{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>個人小檔案</title>
</head>
<body style="background-color: #d1fce8;">

    <center>
        <img src="{% static 'profile1.jpg' %}">
    </center>

    <form method="post" action="">
        {% csrf_token %}
        
        <fieldset style="width: 500px; margin: 0 auto; border: 1px solid #7bc69e;">
            <legend>個人資訊</legend>
            姓 名：<input type="text" name="username"><br><br>
            性 別：
            <input type="radio" name="gender" value="男">男
            <input type="radio" name="gender" value="女">女<br><br>
            最高學歷：
            <select name="degree">
                <option value="碩士">碩士</option>
                <option value="學士">學士</option>
                <option value="高中">高中</option>
            </select>
        </fieldset>

        <br>

        <fieldset style="width: 500px; margin: 0 auto; border: 1px solid #7bc69e;">
            <legend>其它資訊</legend>
            您喜歡下列哪些活動（可複選）？<br>
            <input type="checkbox" name="hobby" value="閱讀">閱讀
            <input type="checkbox" name="hobby" value="打球">打球
            <input type="checkbox" name="hobby" value="逛街">逛街
            <input type="checkbox" name="hobby" value="聽音樂">聽音樂
            <input type="checkbox" name="hobby" value="水上運動">水上運動
            <input type="checkbox" name="hobby" value="旅行">旅行
            <br><br>
            您對使用電腦軟體是否有看法？<br>
            <textarea name="comment" rows="4" cols="50"></textarea>
        </fieldset>

        <br>

        <div style="text-align: center;">
            <input type="submit" value="傳送資料">
            <input type="reset" value="清除重填">
        </div>
    </form>

</body>
</html>